.container{
    position: relative;
    margin: 20px;
}

iframe{
-webkit-filter: blur(3px);
filter: blur(3px);
}
.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; 
}
.stack-top{
    z-index: 9;           
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; 
    border: 2px solid red;
    padding: 5px;
    width: 30%;
    height: 180px;
    margin-top: 300px;
    margin-left: 550px;
    font-size: 25px;
    color: red;
    border-radius: 8px;
    background-color: white;
}
input[type=text] {
width: 80%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid red;
border-radius: 4px;
}

/* input{
width: 80%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid blue;
border-radius: 4px;
} */

.btn {
align-items: center;
background-color: red;
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
color: white;
cursor: pointer;
display: inline-flex;
font-size: 20px;
height: 40px;
width: 25%;
letter-spacing: .25px;
padding: 4px 35px;
position: relative;
text-align: center;
margin-top: 10px;
}