body{
   /* background-color: rgb(231, 231, 231); */
}
.cont{
    width: 90%;
    height: 600px;
    margin-top: 100px;
    margin-left: 300px;
    background-color: white;
}

.head{
    width: 100%;
    /* background-color: blueviolet; */
    display: inline-block;
    font-size: 30px;
}

.head a{
   text-decoration: none;
   color: gray;
}

 .task{
    display:inline-block;
    padding: 10px;
    margin-right: 200px;
    font-size: 60px;
    margin-top:0px;
    margin-left:0px;
    font-family: 'Roboto Condensed', sans-serif;
 }

 .task span{
   font-family: Segoe UI;
 }

 .icon {
   display: inline-block;
   color: #ffC977;
   vertical-align: middle;
   margin-top: 2px;
  }

  .icon img{
   width: 40px;
  }
  .text{
   display: inline-block;
   vertical-align: middle;
   font-size: 30px;
   color: gray;
   text-decoration: none;
   font-family: sans-serif;
 }

 .task span{
   color: gray;
   font-weight: 100;
 }

 .add{
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    margin-right:0px;
 }

 .red-color {
   color:red;
}

 .card{
    width:18%;
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    /* padding: 10px; */
    border-radius: 10px;
    height: 60%;
    color:red;
    box-shadow: 5px 5px 12px gray;
 }

 .one{
    margin-right: 50px;
 }

 .three{
    margin-left: 50px;
 }

 .card p{
    font-size: 30px;
    color: red;
    font-family: Segoe UI;
 }

 .card a{
   text-decoration: none;
 }

 .card del{
   font-size: 25px;
   margin-left: 20px;
 }
 
 input[type="checkbox"]{
   width: 18px; 
   height: 18px; 
 }

 .ing{
   margin-right: 40px;
 }

 .ptask{
   color:black;
   font-size: 22px;
 }

 .line{
   width: 70%;
   text-align:right;
   margin-right:0;
   color: black;
   background-color: black;
   height: 0.5px;
}

